window {
    background: #2c303d;
}

.clock-play {
    background: #a8c7fa;
    color: #2c303d;

    min-width: 100px;

    border-radius: 50px;
    margin: 20px;
}

.clock-dial {
    color: white;
    font-size: 50px;
}